a {
  all: unset;
  cursor: pointer;
  transition: color .2s ease-in-out;
  &:hover {
    color: var(--color-accent-500)
  }
}

.form {
  width: 420px;
  max-width: 100%;

  .header {
    text-align: center;
    margin-bottom: 50px;
  }

  .password {
    margin-bottom: 19px;
    width: 100%;
  }

  .createNewPassword {
    margin: 60px 0;
  }

  .card {
    width: 100%;
    padding: 25px 36px;
  }
}

