@forward "@/components/ui/table/table.module.scss";

.table {
  width: 100%;

  .deckName {
    display: flex;
    align-items: center;
    gap: 10px;

    .deckCover {
      width: 118px;
      height: 48px;
      max-width: 100%;
      object-fit: cover;
    }
  }
}


