.header {
  width: 100%;
  background-color: var(--color-dark-700);
  border-bottom: 1px solid var(--color-dark-500);
  padding: 12px 0;

  .container {
    align-items: center;
    display: flex; 
    justify-content: space-between;

    .userItems {
      align-items: center;
      cursor: pointer;
      display: flex;
      gap: 14px;

      .username {
        border-bottom: 1px dashed #fff ;
      }

      img {
        width: 36px;
        height: auto;
        max-width: 100%;
        display: block;
        object-fit: cover;
      }

    }


  }
}