a {
  all: unset;
  cursor: pointer;
  transition: color .2s ease-in-out;
  &:hover {
    color: var(--color-accent-500)
  }
}

.form {
  width: 420px;
  max-width: 100%;

  .header, .footer {
    text-align: center;
  }

  .header {
    margin-bottom: 28px;
  }

  .email {
    margin-bottom: 24px;
    width: 100%;
  }

  .password {
    margin-bottom: 12px;
    width: 100%;
  }

  .signUp {
    margin: 60px 0 20px;
  }

  .account {
    margin-bottom: 7px;
  }

  .card {
    width: 100%;
    padding: 25px 36px;
  }

  .signIn {
    color: var(--color-accent-500);
    text-decoration: underline;
    transition: color .2s ease-in-out;
    &:hover {
      color: #fff;
    }
  }
}

